<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/style.css">
    <link rel="stylesheet" href="/public/css/home.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Document</title>
</head>
<body>
    <div class="contenedor">
        <header>
            <nav>
                <div class="nav-logo">
                    <img src="/public/images/nwt-logo.png" alt="">
                </div>
                <div class="nav-busqueda">
                    <div class="busqueda1">
                        <div class="input-header">
                            <input type="search" placeholder="¿Qué estas buscando?" class="textinput-header">
                        </div>
                        <div class="magnifiying">
                            <i class="fa-solid fa-magnifying-glass"></i>
                        </div>
                    </div>
                    <div class="busqueda2">
                        <p>Celulares</p>
                        <p>Informatica</p>
                        <p>Accesorios</p>
                        <p>Impresoras</p>
                    </div>
                </div>
                <div class="nav-botones">
                    <div class="login">
                        <a href="/views/login.html"><i class="fa-solid fa-circle-user"></i></a>
                    </div> 
                    <div class="cart">
                        <a href="/views/productCart.html"><i class="fa-solid fa-cart-shopping"></i></a>   
                    </div>
                </div>
            </nav>
        </header>

        <section class="main">
            <div class="carrousel">
                <div class="elemento">
                    <img src="/public/images/iphone.png" alt="">
                </div>
                <div class="elemento">
                    <img src="/public/images/impresora.png" alt="">
                </div>
                <div class="elemento">
                    <img src="/public/images/powerpoint.png" alt="">
                </div>
                <div class="elemento">
                    <img src="/public/images/webcam-redonda.png" alt="">
                </div>
                <div class="elemento">
                    <img src="/public/images/adobe-photoshop.png" alt="">
                </div>
            </div>
            <div class="contenedor-promociones">
                <div class="promociones">
                    <div class="img">
                        <img src="/public/images/desktop.png" alt="">
                    </div>
                    <div class="texto">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem!</p>
                    </div>
                </div>
                <div class="promociones">
                    <div class="img">
                        <img src="/public/images/desktop.png" alt="">
                    </div>
                    <div class="texto">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem!</p>
                    </div>
                </div>   
            </div>
        </section>
        <footer>
            <div class="footer-location">
                <div class="location-icon">
                    /*<a href="https://acortar.link/5xBYfJ" target="_blank"><img src="/public/images/map.png" alt=""></a>*/
                </div>
                <div class="location-info">
                    <p>3293 Stanley Ave,
                        Huntington, NY 11743
                        USA</p>
                </div>
            </div>
                <div class="footer-about-us">
                    <div class="about-us1">
                        <p><b>Horario de Atención:</b><br>
                            Lu-Vi 08:00 - 18:00 <br>
                            Sab   09:00 - 14:00</p>
                    </div>
                    <div class="about-us2">
                        <small>&copy;2023 <b>NewWaresTech</b> - Todos los Derechos Reservados.</small>
                    </div>
                </div>
            <div class="footer-contact">
                <div class="contact1">
                    <h3 class="contact-h3">Contactanos</h3>
                </div>
                <div class="contact2">
                        <a href="http://www.facebook.com" target="blank"><i class="fa-brands fa-facebook"></i></a>
                        <a href="http://www.instagram.com" target="blank"><i class="fa-brands fa-instagram"></i></a>
                        <a href="http://www.twitter.com" target="blank"><i class="fa-brands fa-twitter"></i></a>
                        <a href="http://www.youtube.com" target="blank"><i class="fa-brands fa-youtube"></i></a>
                        <a href="mailto:divianlopezo@gmail.com" target="blank"><i class="fa-solid fa-envelope"></i></a>
                        <a href="http://ww  w.web.whatsapp.com" target="blank"><i class="fa-brands fa-whatsapp"></i></a>
                </div>
            </div>
        </footer>
    </div>
</body>
</html>