
header {
height: 15vh;
background-color: #A066CB;
width: 100%;
}

footer {
    height: 15vh;
    background-color: #A066CB;
    width: 100%;
    }
     
    main {
        height: 70vh;
        background-color: #d4d6d8;
        border: solid 2px;
        text-align: center;
        width: 100%;
        box-sizing: border-box; 
        padding-left: 20%;
        padding-right: 20%;
        display: flex;
         }


    form {
      display: flex; /* Usa flexbox para alinear los elementos */
      flex-direction: column; /* Coloca los elementos en una columna */
      align-items: center; /* Centra los elementos horizontalmente */
      border: 2px solid black;
      padding: 20px ;
      width: 100%;
      margin: auto;
      box-sizing: border-box;
      background-color: rgb(239, 233, 233);
      max-width: 500px;
  
  }

  
/*tamaños de cada pantalla para celular*/

  @media (max-width: 767px) {
    body {font-size: 16px;}
    form {
      max-width: 100%;
    }
  }  

/*Tamaño para tabletas, o medianas*/

@media (min-width: 768px) and (max-width: 1023px){
  body {
    font-size: 16px;
  }
  form {
    max-width: 90%;
  }
}
/*tamaño para laptos medianas a grandes*/

@media  (min-width:1200px){
  body {
    font-size: 16px;
  }
  form {
    max-width: 80%;
  }
}
/*tamaño para ordenadores grandes

@media (min-width: 1200px){
  body {
    font-size: 16px;
  }
}*/

  
  /* Estilos para los campos de entrada */
  
  input[type="text"],
  input[type="email"],
  input[type="password"] {
    margin-bottom: 10px; /* Agrega un margen inferior para separar los campos */
    padding: 10px; /* Agrega un relleno para que los campos sean más fáciles de seleccionar */
    border-radius: 5px; /* Agrega esquinas redondeadas a los campos */
    border: 1px solid #171414; /* Agrega un borde  alrededor de los campos */
    width: 90%; /* Establece el ancho de los campos para que se ajusten al ancho del formulario */
    box-sizing: border-box; /* Incluye el ancho del borde y del relleno en el ancho total del campo */
    background-color: #95ceef; /*Para color dentro de las casillas*/
    text-align: center; /*Para centrar o colocar los textos dentro de la casilla en la izquierda, derecha o centro*/
    border: none; /*Para poner los bordes de los botones*/
  }
  
  /* Estilos para el botón de enviar */
  
  input[type="submit"] {
    background-color:#95ceef; /* Establece un color de fondo verde para el botón */
    color: black; /* Establece el color del texto del botón en blanco */
    padding: 10px; /* Agrega un relleno vertical de 10px y un relleno horizontal de 20px para el botón */
    border: none; /* Elimina el borde del botón */
    border-radius: 5px; /* Agrega esquinas redondeadas al botón */
    cursor: pointer; /* Cambia el cursor del mouse cuando el usuario pasa el mouse sobre el botón */
  }
  
  input[type="submit"]:hover {
    background-color: #8e31eb; /* Cambia el color de fondo del botón al pasar el mouse sobre él */
    animation-duration: 15ms;
    border: solid #000 1px;
    
  
  }
  
  /* Estilos para los enlaces "Ya tienes una cuenta? Inicia sesión." */
  
  a {
    color: #0b0be4; /* Establece el color de los enlaces en gris oscuro */
    text-decoration: none; /* Elimina el subrayado predeterminado de los enlaces */
    font-size: 14px; /* Establece el tamaño de fuente de los enlaces */
  }
  
  a:hover {
    color: #000; /* Cambia el color de los enlaces al pasar el mouse sobre ellos */
    
  }